---
import NavBar from "@/components/navigation/NavBar.vue";
import Footer from "@/components/sections/Footer.astro";
import "@/styles/global.css";

interface Props {
  title: string;
  description?: string;
  lang?: string;
  keywords?: string;
}

const { title, description, lang = "en", keywords } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <meta name="description" content={description} />
    {keywords && <meta name="keywords" content={keywords} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mtmarctoni" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://marctonimas.com/og-image.jpg" />
    <meta name="twitter:creator" content="@mtmarctoni" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://marctonimas.com/og-image.jpg" />
    <meta property="og:url" content="https://marctonimas.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Marc Antoni Mas" />
    <script is:inline>
      // Initialize theme based on user preference or system setting
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };

      const theme = getThemePreference();

      document.documentElement.classList.toggle("dark", theme === "dark");

      if (typeof localStorage !== "undefined") {
        localStorage.setItem("theme", theme);
      }
    </script>
  </head>
  <body class="bg-bg text-fg transition-colors duration-300">
    <NavBar client:load client:only="header" />
    <main class="min-w-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
